<ion-view view-title="">
    <div class="custom-header">
        <div class="col text-center">
            <h2>You are about to withdraw {{ currency.symbol }} {{ amount }}.
            </h2>
        </div>
    </div>

    <ion-content class="custom-header-margin">
        <div class="custom-body">
            <div class="container-note text-center" ng-if="">
            </div>
        </div>
    </ion-content>

    <div class="row">
        <a class="col col-50 bar bar-footer high-footer cancel" menu-close href="#/app/dashboard">
            <h1 class="title">Cancel</h1>
        </a>
        <button class="col col-50 col-offset-50 bar bar-footer high-footer" ng-click="submit(amount, account)">
            <h1 class="title">Confirm</h1>
        </button>
    </div>

</ion-view>