<ion-view view-title="{{'WITHDRAW_TO' | translate}}">
    <div ng-controller="WithdrawToCtrl">
        <form name="WithdrawToForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <div ng-repeat="item in items">
                        <a class="item item-icon-right" ng-click="submit('{{ item.accType }}')">
                            <h3>{{ item.title }}</h3>
                            <i class="icon ion-ios-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </ion-content>
        </form>
    </div>
</ion-view>