<ion-content overflow-scroll="false" scroll="false">
    <div class="keypad">
        <div class="keypadInput center">

            <p class="text-center" style="font-size: 80px" ng-if="keypadVar.length==0">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 80px" ng-if="keypadVar.length==1">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 70px" ng-if="keypadVar.length==2">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 60px" ng-if="keypadVar.length==3">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 50px" ng-if="keypadVar.length==4">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 40px" ng-if="keypadVar.length==5">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 40px" ng-if="keypadVar.length==6">
                R {{ keypadVar }}
            </p>

            <p class="text-center" style="font-size: 40px" ng-if="keypadVar.length==7">
                R {{ keypadVar }}
            </p>
        </div>

        <div class="row row-keypad">
            <button class="col button col-keypad custom-colors" ng-click="keyPress('1', 'NUMERIC_KEY')">1</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('2', 'NUMERIC_KEY')">2</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('3', 'NUMERIC_KEY')">3</button>
        </div>

        <div class="row row-keypad">
            <button class="col button col-keypad custom-colors" ng-click="keyPress('4', 'NUMERIC_KEY')">4</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('5', 'NUMERIC_KEY')">5</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('6', 'NUMERIC_KEY')">6</button>
        </div>

        <div class="row row-keypad">
            <button class="col button col-keypad custom-colors" ng-click="keyPress('7', 'NUMERIC_KEY')">7</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('8', 'NUMERIC_KEY')">8</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('9', 'NUMERIC_KEY')">9</button>
        </div>

        <div class="row row-keypad">
            <button class="col button col-keypad custom-colors" ng-click="keyPress('.', 'LEFT_CONTROL')">.</button>
            <button class="col button col-keypad custom-colors" ng-click="keyPress('0', 'NUMERIC_KEY')">0</button>
            <button class="col button icon ion-backspace col-keypad custom-colors"
                    ng-click="keyPress('', 'RIGHT_CONTROL')"></button>
        </div>
    </div>
</ion-content>