/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Colors
//------------------------------------------

// Main Color for elements
$primary: #3D8AB8;
//Default: #56C1ED;

// Color of fonts/icons within primary color
$secondary: #fff;
//Default: #fff;

// List item differentiation
$tertiary: #F6F6F6;
//Default: #fff;

// Side bar
$sidebar: #2070A0;
$background: #F6F6F6;

// Notification colors
$notify: #5EA5CF;
//Default: #56C1ED;
$error: #dd4b39;
//Default: #dd2c00;
$cancel: #dd4b39;
//Default: #dd2c00;
$warning: #dd4b39;
//Default: #dd2c00;
$success: #38C87F;

// General colors
$black: #000;
$white: #FFF;

//------------------------------------------

//------------------------------------------

// Utility classes
.align-left {
  text-align: left;
  float: left;
}

.align-right {
  float: right;
  text-align: right;
}

.no-margin {
  margin: 0;
}

.capital-letter {
  text-transform: uppercase;
}

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

// Buttons
.button {
  border-color: transparent;
  background-color: $primary;
  color: $secondary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }

  &.active, &.activated {
    background-color: darken($primary, 5%);
  }

  &.button-clear, &.button-icon {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: $primary;
  }

  &.button-positive {
    border-color: $primary;
    background: $primary;
    color: $secondary;

    &.active, &.activated {
      background-color: darken($primary, 5%);
      box-shadow: none;
    }
  }

  &.button-outline {
    border-color: $primary;
    background: transparent;
    color: $primary;

    &.active, &.activated {
      background-color: $primary;
      box-shadow: none;
      color: $secondary;
    }
  }

  &.search-button {
    position: absolute;
    right: 20px;
    top: 15px;
    color: darken($primary, 5%);
  }
}

// Navbar
.bar {
  border-color: darken($primary, 0%);
  background-color: $primary;
  background-image: none;
  color: $secondary;

  &.activated {
    background-color: darken($primary, 5%);
  }

  .title {
    color: $secondary;
  }

  &.cancel {
    border-color: $cancel;
    background-color: $cancel;
    background-image: none;
    color: $secondary;

    .title {
      color: $secondary;
    }
  }

  .button {
    border-color: transparent;
    background-color: darken($primary, 5%);
    color: $secondary;

    &.active, &.button.activated {
      background-color: darken($primary, 5%);
    }

    &.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: $secondary;
      font-size: 17px;
    }

    &.button-icon {
      border-color: transparent;
      background: none;
    }

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }
}

// Menu
.app-side-menu {
  background-color: $sidebar;
  color: $secondary;

  h1 {
    font-size: 16px;
    color: white;
  }

  .item {
    cursor: pointer;
  }
}

.app-side-menu-profile {
  padding-top: 20px;

  h4 {
    font-size: 12px;
    color: white;
  }
}

.app-side-menu-details {
  padding: 10px 0 0 30px;
}

.app-side-menu-list {
  position: relative;

  .item {
    border-color: transparent;
    background-color: $sidebar;

    &:last-of-type {
      border-bottom: none;
    }

    a {
      color: $secondary;
      background-color: $sidebar;
      padding: 12px;

      &.activated {
        background-color: $sidebar;
        border-color: transparent;
      }
    }
  }
}

// List
.list-default {
  margin-bottom: 5px !important;
  margin-top: 0 !important;

  .withdraw-top {
    padding-top: 18px;
  }

  .default-top {
    padding-top: 12px;
  }

  .no-padding {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
  }

  .no-padding-2 {
    padding: 1px 2px 1px 0;
  }

  .block {
    &:nth-child(odd) {
      .item {
        background: $tertiary;
      }
    }

    .item {

      .icon {
        font-size: 45px;
      }

      .align-right {
        padding-top: 0;
      }

      h2 {
        font-size: 14px;
        font-weight: 200;
        color: $black;
      }

      h3 {
        font-size: 20px;
        font-weight: 200;
        color: $black;
      }

      h4 {
        font-size: 11px;
        font-weight: 400;
        color: darken($tertiary, 50%);
        padding-top: 2px;
      }

      h5 {
        font-size: 11px;
        font-weight: 400;
        color: darken($tertiary, 50%);
      }
    }
  }
}

.item-avatar {
  padding-left: 60px;
}

.item-profile {
  padding-left: 0;
}

// Form error
.form-error {
  padding: 6px 0 6px 0px;
  font-size: 12px;
  color: $error;
  border-top: 2px solid $error;
  margin-right: 15px;
}

input.ng-pristine ~ div .form-error {
  color: $notify;
  border-top: 2px solid $notify;
}

input.ng-invalid, input.ng-dirty {
  box-shadow: none;
}

input.ng-invalid, input.ng-dirty {
  box-shadow: none;
}

// Header
.custom-header {
  margin-top: 44px;
  height: 1000px !important;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 0;
  background-color: $primary;
  position: absolute;
  text-align: center;

  h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    display: inline;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: inline;
  }
  h4 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    display: inline;
  }

  .span1 {
    display: inline-block;
    vertical-align: top;
  }

  .span2 {
    display: inline-block;
    vertical-align: top;
    margin-top: -8px;
  }
}

.platform-webview.platform-ios.platform-cordova .custom-header {
  margin-top: 63px;
}

.custom-header-margin {
  background-color: $primary;
  margin-top: 100px !important;
}

// Body
.custom-body {
  height: 1000px;
  background-color: $background;
}

// Container
.container-body {
}

.container-default {
  padding: 10px;
}

.container-default-background {
  background-color: $background;
  padding: 10px;
}

.container-deposit-reference {
  h4 {
    color: $white;
  }
  background-color: $success;
  padding: 10px;
}

.container-success {
  h2 {
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: inline;
  }
  background-color: $success;
  padding: 44px;
}

.container-note {
  background-color: darken($background, 10%);
  padding: 20px;
}

.container-qr {
  margin: 0;
}

.container-card {
  padding-top: 1px;
  .card .item {
    h2 {
      font-size: 20px;
      font-weight: 300;
      color: black;
      display: inline;
    }
  }
}

// Footer
.high-footer {
  height: 55px !important;
  .title {
    top: 5px;
    font-weight: 400;
  }
}

// Header
//.bar.bar-header {
//  height: 55px !important;
//  .title {
//    font-weight: 400;
//    top: 5px;
//  }
//}

// Image
.company-logo {
  img {
    margin: 50px;
  }
}

.company-logo-menu {
  padding: 15px;
  img {
    width: 150px;
  }
}

//Profile image
.circle-base {
  border-radius: 50%;
}

.profile-image {
  max-width: 60px;
  max-height: 60px;
}

.profile-image-edit {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

.crop-area {
  overflow: hidden;
  width: 100%;
  height: 450px;
  position: relative;
}

img-crop {
  position: absolute;
}