<ion-view view-title="{{'DEPOSIT' | translate}}">
    <ion-content class="container-body">
        <div class="container-default-background text-center">
            <div class="row">
                <div class="col col-100 ">
                    <div class="row">
                        <p translate="DEPOSIT_INSTRUCTIONS"
                           translate-values="{ currency_code: token.currency.code }">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-deposit-reference text-center">
            <h4 class="capital-letter">{{ reference }}</h4>
        </div>
        <div class="container-default">
            <div ng-repeat="item in items" style="font-size: 12px;">
                <div class="row">
                    <div class="col" ng-if="item.bank_account.bank_name"><b translate="BANK"></b></div>
                    <div class="col text-right">{{ item.bank_account.bank_name }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.name"><b translate="ACCOUNT_HOLDER"></b></div>
                    <div class="col text-right">{{ item.bank_account.name }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.number"><b translate="ACCOUNT_NUMBER"></b></div>
                    <div class="col text-right">{{ item.bank_account.number }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.type"><b translate="ACCOUNT_TYPE"></b></div>
                    <div class="col text-right">{{ item.bank_account.type }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.bank_code"><b translate="BANK_CODE"></b></div>
                    <div class="col text-right">{{ item.bank_account.bank_code }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.branch_code"><b translate="BRANCH_CODE"></b></div>
                    <div class="col text-right">{{ item.bank_account.branch_code }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.swift"><b translate="SWIFT_CODE"></b></div>
                    <div class="col text-right">{{ item.bank_account.swift }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.iban"><b translate="IBAN_NUMBER"></b></div>
                    <div class="col text-right">{{ item.bank_account.iban }}</div>
                </div>
                <div class="row">
                    <div class="col" ng-if="item.bank_account.bic"><b translate="BIC_NUMBER"></b></div>
                    <div class="col text-right">{{ item.bank_account.bic }}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>