<ion-view view-title="">

    <div class="dashboard-balance">
        <div class="col text-center">
            <span class="span1">
                <h2>{{ currency.symbol }}</h2>
            </span>
            <span class="span2">
                <h1> {{ balance }}</h1>
            </span>
        </div>
    </div>

    <ion-content class="dashboard-home">
        <div class="dashboard-tx">
            <div ng-include src="'templates/transactions/index.html'"></div>
        </div>
    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <div class="row">
        <!--<a class="col col-50 high-footer bar bar-footer" href="#/app/request">
            <h1 class="title">Request</h1>
        </a> -->
        <a class="col col-100 high-footer bar bar-footer" href="#/app/send">
            <h1 class="title">Send</h1>
        </a>
    </div>

</ion-view>