<ion-view view-title="Add Mobile">
    <div ng-controller="MobileCtrl">
        <form name="MobileForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list-default">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Add mobile</span>
                        <input ng-model="data.mobile_number" name="mobile_number" type="text"
                               placeholder="e.g. +16509882744"
                               value="{{ data.mobile_number }}">
                    </label>

                    <div class="block">
                        <div ng-repeat="item in items">
                            <div ng-if="item">
                                <div class="item item-avatar item-icon-left no-padding">
                                    <i class="icon ion-ios-circle-outline"></i>

                                    <div class="row default-top">
                                        <div class="col col-50 align-left" style="padding-top: 12px;">
                                            {{item.number}}
                                        </div>
                                        <div class="col col-50 align-right" style="padding-top: 12px;">
                                            <div ng-if="item.verified">
                                                <p>Verified</p>
                                            </div>
                                            <div ng-if="item.verified != true" ui-sref="app.verify_mobile">
                                                <p>Verify now</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(MobileForm)" linked="clickMe">
                <h1 class="title">Save</h1>
            </button>
        </form>
    </div>
</ion-view>