<ion-view view-title="{{'ADD_BITCOIN_ADDRESS' | translate}}">
    <div ng-controller="BitcoinWithdrawalAccountCtrl">
        <form name="BitcoinWithdrawalAccountForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="BITCOIN_ADDRESS"></span>
                        <input ng-model="data.address" name="address" type="text"
                               placeholder="{{'BITCOIN_ADDRESS_PLACEHOLDER' | translate}}">
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(BitcoinWithdrawalAccountForm)"
                    linked="clickMe">
                <h1 class="title" translate="SAVE"></h1>
            </button>
        </form>
    </div>
</ion-view>