<ion--view view-title="Change password">
    <div ng-controller="ChangePasswordCtrl">
        <form name="changePasswordForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Old Password</span>
                        <input type="password" name="old_password" ng-model="user.old_password" placeholder="New Password" required>
                        <div ng-messages="changePasswordForm.old_password.$error" role="alert" ng-show='changePasswordForm.$submitted || changePasswordForm.old_password.$dirty'>
                            <div ng-message="required" class="form-error">Please enter your old password.</div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">New Password</span>
                        <input type="password" name="new_password" ng-model="user.new_password" placeholder="New Password" required>
                        <div ng-messages="changePasswordForm.new_password.$error" role="alert" ng-show='changePasswordForm.$submitted || changePasswordForm.new_password.$dirty'>
                            <div ng-message="required" class="form-error">Please enter a new password.</div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Confirm Password</span>
                        <input type="password"  name="confirm_password" ng-model="user.confirm_password" placeholder="New Password" required>
                        <div ng-messages="changePasswordForm.confirm_password.$error" role="alert" ng-show='changePasswordForm.$submitted || changePasswordForm.confirm_password.$dirty'>
                            <div ng-message="required" class="form-error">Please confirm your new password.</div>
                        </div>
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(changePasswordForm)"
                    linked="clickMe">
                <h1 class="title">Change Password</h1>
            </button>
        </form>
    </div>
</ion--view>