<ion--view view-title="Email Address">

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email address</span>
                <input ng-model="data.email_address" type="text" placeholder="Your email address" value="{{ data.email_address }}">
            </label>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.email_address)">
        <h1 class="title">Submit</h1>
    </button>

</ion--view>