<ion-view view-title="{{'EMAIL_ADDRESSES' | translate}}">
    <div ng-controller="EmailCtrl">
        <form name="EmailForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list-default">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="EMAIL"></span>
                        <input ng-model="data.email_address" name="email_address" type="text"
                               placeholder="{{'EMAIL_PLACEHOLDER' | translate}}"
                               value="{{ data.email_address }}">
                    </label>

                    <div class="block">
                        <div ng-repeat="email in emails">
                            <div ng-if="email">
                                <div class="item no-padding-2">
                                    <div class="row default-top">
                                        <div class="col align-left">
                                            {{email.email}}
                                            <div ng-if="email.verified">
                                                <p translate="VERIFIED"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row item-padding">
                                        <div class="col align-left">
                                            <button class="button button-small" ng-if="email.verified == false"
                                                    keyboard-attach
                                                    ng-click="resendVerification(email.email)"
                                                    linked="clickMe"
                                                    translate="VERIFY">
                                            </button>
                                            <button class="button button-small" ng-if="email.primary == false"
                                                    keyboard-attach
                                                    ng-click="update(email.id, true)"
                                                    linked="clickMe"
                                                    translate="MAKE_PRIMARY">
                                            </button>
                                            <button class="button button-assertive button-small"
                                                    ng-if="email.primary == false" keyboard-attach
                                                    ng-click="delete(email.id)"
                                                    linked="clickMe"
                                                    translate="DELETE">
                                            </button>
                                            <button class="button button-balanced button-small" disabled
                                                    ng-if="email.primary == true"
                                                    translate="PRIMARY">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="create(EmailForm)" linked="clickMe">
                <h1 class="title" translate="SAVE"></h1>
            </button>
        </form>
    </div>
</ion-view>