<ion-view view-title="Bitcoin Addresses">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="block">
                <div ng-repeat="item in items">
                    <div ui-sref="app.edit_bitcoin_withdrawal_account({accId: item.id})">
                        <div class="item item-avatar item-icon-left no-padding">
                            <i class="icon ion-ios-circle-outline"></i>

                            <div class="row default-top">
                                <div class="col col-50 align-left" style="padding-top: 12px;">
                                    {{ item.address.length > 30 ? item.address.slice(0, 10) + '...' + item.address.slice(item.address.length - 5, item.address.length) : item.address }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item" ui-sref="app.add_bitcoin_withdrawal_account">
                    Add another bitcoin address
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-view>
