<ion--view view-title="Mobile number">

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile number</span>
                <input ng-model="data.mobile_number" type="text" placeholder="Your mobile number" value="{{ data.mobile_number }}">
            </label>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer bar-air" ng-click="submit(data.mobile_number)">
        <h1 class="title">Submit</h1>
    </button>

</ion--view>