<ion--view view-title="Nationality">

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nationality</span>
                <input ng-model="data.nationality" type="text" placeholder="What is your nationality." value="{{ data.nationality }}">
            </label>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.nationality)">
        <h1 class="title">Submit</h1>
    </button>

</ion--view>