<ion--view view-title="Passport/ID">

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Passport/ID</span>
                <input ng-model="data.passport_id" type="text" placeholder="Please provide your passport or ID number." value="{{ data.passport_id }}">
            </label>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.passport_id)">
        <h1 class="title">Submit</h1>
    </button>

</ion--view>