<ion-view view-title="{{'PERSONAL_DETAILS' | translate}}">
    <div ng-controller="PersonalDetailsCtrl">
        <form name="personalDetailsForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="FIRST_NAME"></span>
                        <input ng-model="data.first_name" name="first_name" type="text" placeholder="{{'FIRST_NAME_PLACEHOLDER' | translate}}"
                               value="{{ data.first_name }}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="LAST_NAME"></span>
                        <input ng-model="data.last_name" name="last_name" type="text" placeholder="{{'LAST_NAME_PLACEHOLDER' | translate}}"
                               value="{{ data.last_name }}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="ID_NUMBER"></span>
                        <input ng-model="data.id_number" name="id_number" type="text" placeholder="{{'ID_NUMBER_PLACEHOLDER' | translate}}"
                               value="{{ data.id_number }}">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label" translate="COUNTRY"></span>
                        <select ng-model="data.nationality" name="nationality">
                            <option ng-repeat="country in countries" value="{{ country.code }}" ng-selected="country.code === data.nationality">{{ country.name }}</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label" translate="LANGUAGE">Language</span>
                        <select ng-model="data.language" name="language">
                            <option ng-repeat="language in languages" value="{{ language.code }}" ng-selected="language.code === data.language">{{ language.name }}</option>
                        </select>
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(personalDetailsForm)"
                    linked="clickMe">
                <h1 class="title" translate="SAVE"></h1>
            </button>
        </form>
    </div>
</ion-view>