<ion-view view-title="{{'PROFILE_IMAGE' | translate}}">
    <div ng-controller="ProfileImageCtrl">
        <ion-content class="container-body">
            <div class="row row-center">
                <div class="col col-center">
                    <div class="text-center">
                        <img class="circle-base profile-image-edit" ng-src="{{ user.profile || 'img/profile_2.png' }}" ng-click="getFile()"/>
                    </div>

                    <!-- Hidden button for PC uploads-->
                    <button id="upload" class="hide button button-block" accept=".jpg, .png" ngf-select="getFromFiles($file)"
                            ngf-max-size="10MB"
                            ngf-fix-orientation="true"
                            translate="UPLOAD">
                    </button>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>