<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title" translate="FORGOT_PASSWORD"></h1>
        <button class="button button-clear button-primary" ng-click="CloseModalForgot()" translate="CANCEL"></button>
    </ion-header-bar>


    <form name="forgotForm" method="post" novalidate>
        <ion-content class="container-body" class="padding">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="IDENTIFIER"></span>
                    <input ng-model="user.identifier" type="text" name="identifier"
                           placeholder="{{'IDENTIFIER_PLACEHOLDER' | translate}}" required>

                    <div ng-messages="forgotForm.identifier.$error" role="alert"
                         ng-show='forgotForm.$submitted || forgotForm.identifier.$dirty'>
                        <div ng-message="required" class="form-error" translate="IDENTIFIER_REQUIRED_MESSAGE"></div>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="COMPANY"></span>
                    <input ng-model="user.company_id" type="text" name="company_id"
                           placeholder="{{'COMPANY_PLACEHOLDER' | translate}}" required>

                    <div ng-messages="forgotForm.company_id.$error" role="alert"
                         ng-show='forgotForm.$submitted || forgotForm.company_id.$dirty'>
                        <div ng-message="required" class="form-error" translate="COMPANY_REQUIRED_MESSAGE"></div>
                    </div>
                </label>
            </div>
        </ion-content>
        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="high-footer bar-dark">
        </ion-footer-bar>

        <button keyboard-attach class="high-footer bar bar-footer" ng-click="resetPassword(forgotForm)"
                linked="clickMe">
            <h1 class="title" translate="RESET_EMAIL"></h1>
        </button>
    </form>

</ion-modal-view>