<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Submit OTP</h1>
        <button class="button button-clear button-primary" ng-click="cancelVerify()">Cancel</button>
    </ion-header-bar>

    <ion-content class="container-body" class="container-body" class="padding">
        <form name="verifyForm" method="post" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">OTP</span>
                    <input type="text" name="otp" ng-model="user.otp" placeholder="12345" required>
                    <div ng-messages="verifyForm.otp.$error" role="alert" ng-show='verifyForm.$submitted || verifyForm.otp.$dirty'>
                        <div ng-message="required" class="form-error">Please enter an OTP.</div>
                    </div>
                </label>
                <button class="button button-full" ng-click="verify(verifyForm)">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>