<ion--view view-title="Receive">
    <ion-content class="container-body" class="top padding">
        <div class="row text-center">
            <div class="col col-100">
                <div class="container-default">The QR code is your public address for accepting payments.</div>
                <div class="container-qr">
                    <img ng-src="{{ myAddress }}" alt="Receive Address" height="250" width="250">
                </div>
            </div>
        </div>
    </ion-content>
</ion--view>