<ion-view view-title="Notifications">

    <ion-content class="container-body" class="dashboard">

        <ion-refresher pulling-text="pull to refresh" on-refresh="listRefresh()"></ion-refresher>

        <div class="custom-body">
            <div class="list-default">
                <div class="block">
                    <div ng-repeat="notification in notifications">
                        <div class="item item-avatar item-icon-left no-padding">
                            <i class="icon ion-ios-circle-outline"></i>

                            <div class="row default-top">
                                <div class="col col-50 align-left">
                                    <h2><b>{{ notification.title }}</b> from <i>{{ notification.from }}</i></h2>
                                    <h4>{{ notification.notification }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>