<ion-view view-title="{{'FROM' | translate}}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html">
    <div ng-controller="RequestFromCtrl" >
        <form name="RequestFromForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="item item-input item-stacked-label">
                    <span class="input-label" tanslate="REQUEST_FROM"></span>
                    <input name="from" type="search" ng-model="data.from" required
                           ng-keyup="getValue()"
                           placeholder="{{'REQUEST_FROM_PLACEHOLDER' | translate}}">
                    </input>

                    <div ng-messages="RequestFromForm.from.$error" role="alert" ng-show='RequestFromForm.$submitted || RequestFromForm.from.$dirty'>
                        <div ng-message="required" class="form-error" translate="REQUEST_FROM_REQUIRED_MESSAGE"></div>
                    </div>

                    <button class="button button-icon ion-android-close search-button"
                            ng-if="data.from.length"
                            ng-click="clearSearch()">
                    </button>
                </div>
                <div class="list profile-photo profile-photo-contacts">
                    <a class="item item-thumbnail-left" ng-repeat="contact in contacts"
                       ng-click="selectFrom(contact.emails[0].value || contact.phones[0].value);">
                        <img src="{{ contact.photos[0].value }}" ng-if="contact.photos.length > 0">

                        <h2>{{ contact.displayName }}</h2>
                        <h2>{{ contact.name.formatted }}</h2>

                        <p ng-if="contact.emails.length > 0">{{ contact.emails[0].value }}</p>
                        <p ng-if="contact.phones.length > 0">{{ contact.phones[0].value }}</p>
                    </a>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(RequestFromForm)">
                <h1 class="title" tranlste="NEXT"></h1>
            </button>
        </form>
    </div>
</ion-view>