<ion-view view-title="{{'AMOUNT' | translate}}">
    <div ng-controller="RequestCtrl" >
        <form name="requestForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="AMOUNT"></span>
                        <input name="amount" ng-model="data.amount" type="number" placeholder="{{'AMOUNT_PLACEHOLDER' | translate}}" required>
                        <div ng-messages="requestForm.amount.$error" role="alert" ng-show='requestForm.$submitted || requestForm.amount.$dirty'>
                            <div ng-message="required" class="form-error" translate="AMOUNT_REQUIRED_MESSAGE"></div>
                            <div ng-message="number" class="form-error" translate="AMOUNT_VALID_MESSAGE"></div>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label" tranlsate="NOTE"></span>
                        <input name="note" ng-model="data.note" type="text" placeholder="{{'NOTE_PLACEHOLDER' | translate}}">
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(requestForm)" linked="clickMe">
                <h1 class="title" translate="NEXT"></h1>
            </button>
        </form>
    </div>
</ion-view>