<ion--view view-title="Select Account">
    <div ng-controller="WithdrawCtrl">
        <form name="withdrawToForm" novalidate>
            <ion-content>

                <div class="list">
                    <a class="item item-icon-right" ui-sref="app.withdraw_bank_account">
                        <h3>Bank account</h3>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <a class="item item-icon-right" ui-sref="app.withdraw_bitcoin_account">
                        <h3>Bitcoin account</h3>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </ion-content>
        </form>
    </div>
</ion--view>