<ion--view view-title="Select Account">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="block">
                <div ng-repeat="item in items">
                    <a ui-sref="app.withdraw_to_bank_account({account: item.code})">
                        <div class="item item-avatar item-icon-left">
                            <i class="icon ion-ios-circle-outline"></i>
                            <div class="align-left">
                                {{ item.bank_name }}
                                <p>{{ item.number }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="item" ui-sref="app.add_bank_account">
                    Add another bank account
                </a>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion--view>
