<ion-view view-title="{{'SEND' | translate}}">
    <div class="custom-header">
        <div class="col text-center">
            <h2 translate="SEND_CONFIRM_MESSAGE"
                translate-values="{ currency: currency.symbol, amount: amount, to: to}">
            </h2>
        </div>
    </div>

    <ion-content class="custom-header-margin">
        <div class="custom-body">
            <div class="container-note text-center" ng-if="note">
                {{note}}
            </div>
        </div>
    </ion-content>

    <div class="row">
        <a class="col col-50 high-footer bar bar-footer cancel" menu-close href="#/app/dashboard">
            <h1 class="title" translate="CANCEL"></h1>
        </a>
        <button class="col col-50 col-offset-50 high-footer bar bar-footer" ng-click="submit(amount, note, to, currency.symbol)">
            <h1 class="title" translate="CONFIRM"></h1>
        </button>
    </div>
</ion-view>
