<ion--view view-title="About">
    <ion-content class="top padding">
        <div class="row text-center">
            <div class="col col-100">
                <img ng-show="companyDetails.logo" ng-src="{{ companyDetails.logo }}" onError="angular.element(this).scope().companyDetails.logo = false"/>
                <h2>{{ companyDetails.name }}</h2>
                <h4>{{ companyDetails.description }}</h4>
                <a href="{{ companyDetails.website }}" target="_blank">{{ companyDetails.name }}</h5>
            </div>
        </div>
    </ion-content>
</ion--view>