<ion--view view-title="Camera/Upload">

    <ion-content class="container-body">

        <div class="row">
            <div class="col col-100">
                <button class="button button-block">
                    Take Picture
                </button>

                <button class="button button-block">
                    Upload Image
                </button>
            </div>
        </div>


    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <a class="high-footer bar bar-footer cancel" menu-close href="#/app/settings">
        <h1 class="title">Cancel</h1>
    </a>

</ion--view>