<ion-view view-title="Get verified">

    <ion-content class="container-body">
        <div class="list">
            <div class="item item-icon-right" ui-sref="app.fica_id">
                <h3>ID/Passport</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.fica_id_selfie">
                <h3>ID/Passport Selfie</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.fica_proof_of_address">
                <h3>Proof of address</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>

</ion-view>