<ion-view view-title="{{'GET_VERIFIED' | translate}}">
    <ion-content class="container-body">
        <div class="list">
            <div class="item item-icon-right" ui-sref="app.fica_id">
                <h3 translate="ID_DOCUMENT"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.fica_id_selfie">
                <h3 translate="ID_SELFIE"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.fica_proof_of_address">
                <h3 translate="PROOF_OF_ADDRESS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>