<ion-view view-title="{{'SETTINGS' | translate}}">
    <ion-content class="container-body">
        <div class="list">
            <a class="item item-icon-right" ui-sref="app.profile_image">
                <h3 translate="PROFILE_IMAGE"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.personal_details">
                <h3 translate="PERSONAL_DETAILS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.mobiles">
                <h3 translate="MOBILE_NUMBERS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.emails">
                <h3 translate="EMAIL_ADDRESSES"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.social_networks">
                <h3 translate="SOCIAL_NETWORKS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.fica">
                <h3 translate="GET_VERIFIED"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.add_address">
                <h3 translate="ADDRESS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.list_bank_accounts">
                <h3 translate="BANK_ACCOUNTS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.list_bitcoin_withdrawal_accounts">
                <h3 translate="BITCOIN_ADDRESSES"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.cards">
                <h3 translate="CARDS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.security">
                <h3 translate="SECURITY"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="app.notifications">
                <h3 translate="NOTIFICATIONS"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>