<ion-view view-title="{{'MOBILE_NUMBERS' | translate}}">
    <div ng-controller="MobileCtrl">
        <form name="MobileForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list-default">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate="MOBILE"></span>
                        <input ng-model="data.mobile_number" name="mobile_number" type="text"
                               placeholder="{{'MOBILE_PLACEHOLDER' | translate}}"
                               value="{{ data.mobile_number }}">
                    </label>

                    <div class="block">
                        <div ng-repeat="mobile in mobiles">
                            <div ng-if="mobile">
                                <div class="item no-padding-2">
                                    <div class="row default-top">
                                        <div class="col align-left">
                                            {{mobile.number}}
                                            <div ng-if="mobile.verified">
                                                <p translate="VERIFIED"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row item-padding">
                                        <div class="col align-left">
                                            <button class="button button-small" ng-if="mobile.verified == false"
                                                    keyboard-attach
                                                    ng-click="resendVerification(mobile.number)"
                                                    linked="clickMe"
                                                    translate="VERIFY">
                                            </button>
                                            <button class="button button-small" ng-if="mobile.primary == false"
                                                    keyboard-attach
                                                    ng-click="update(mobile.id, true)"
                                                    linked="clickMe"
                                                    translate="MAKE_PRIMARY">
                                            </button>
                                            <button class="button button-small button-assertive"
                                                    ng-if="mobile.primary == false"
                                                    keyboard-attach
                                                    ng-click="delete(mobile.id)"
                                                    linked="clickMe"
                                                    translate="DELETE">
                                            </button>
                                            <button class="button button-small button-balanced" disabled
                                                    ng-if="mobile.primary == true"
                                                    translate="PRIMARY">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="create(MobileForm)" linked="clickMe">
                <h1 class="title" tranlsate="SAVE"></h1>
            </button>
        </form>
    </div>
</ion-view>