<ion-view view-title="Personal details">
    <div ng-controller="PersonalDetailsCtrl">
        <form name="personalDetailsForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First name</span>
                        <input ng-model="data.first_name" name="first_name" type="text" placeholder="Your name"
                               value="{{ data.first_name }}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last name</span>
                        <input ng-model="data.last_name" name="last_name" type="text" placeholder="Your surname"
                               value="{{ data.last_name }}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Identity Number</span>
                        <input ng-model="data.id_number" name="id_number" type="text" placeholder="Your ID number"
                               value="{{ data.id_number }}">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Nationality</span>
                        <select ng-model="data.nationality" name="nationality">
                            <option selected>{{ data.nationality }}</option>
                            <option ng-repeat="country in countries">{{ country.name }}</option>
                        </select>
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(personalDetailsForm)"
                    linked="clickMe">
                <h1 class="title">Save</h1>
            </button>
        </form>
    </div>
</ion-view>