<ion--view view-title="Reset password">

    <ion-content>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">New password</span>
                <input ng-model="data.new_password" type="text" placeholder="Type new password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm password</span>
                <input ng-model="data.confirm_password" type="text" placeholder="Confirm password">

            </label>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer bar-air" ng-click="submit(data.new_password, data.confirm_password)">
        <h1 class="title">Submit</h1>
    </button>

</ion--view>