<ion-view view-title="{{'SECURITY' | translate}}">
    <ion-content class="container-body">
        <div class="list">
            <div class="item item-icon-right" ui-sref="app.change_password">
                <h3 translate="CHANGE_PASSWORD"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.two_factor">
                <h3 translate="TWO_FACTOR"></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.pin">
                <h3 translate="PIN">Pin</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>