<ion--view view-title="Security">

    <ion-content class="container-body">
        <div class="list">
            <div class="item item-icon-right" ui-sref="app.change_password">
                <h3>Change password</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.two_factor">
                <h3>Two factor</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="app.pin">
                <h3>Pin</h3>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>

</ion--view>