<ion-content class="custom-header-margin">
    <ion-refresher on-refresh="refreshData()" spinner="none" on-pulling="none" pulling-icon="none"></ion-refresher>

    <div class="custom-body">
        <div ng-if="items.length == 0">
            <div class="container-card">
                <div class="card">
                    <div class="item item-body">
                        <h2 translate="WELCOME_TEXT"></h2>
                        <p translate="TRANSACTIONS_TEXT"></p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="items.length >= 0">
            <div class="list-default">
                <div class="block">
                    <div ng-repeat="item in items">
                        <div class="item item-avatar item-icon-left no-padding">
                            <img class="circle-base profile-teller" ng-src="{{ item.counterparty.profile || 'img/profile_2.png' }}"/>
                            <div class="row default-top">
                                <div class="col col-50 align-left">
                                    <h2>{{ item.description }}</h2>
                                    <h5 ng-if="item.metadata.fee > 0"
                                        translate="TRANSACTION_FEE"
                                        translate-values="{ currency: item.currency.symbol, fee: item.metadata.fee}"></h5>
                                    <h5 ng-if="item.metadata.rate > 0"
                                        translate="TRANSACTION_RATE"
                                        translate-values="{ from_currency: item.metadata.from_currency, from_amount: item.metadata.from_amount, to_currency: item.metadata.to_currency, to_amount: item.metadata.to_amount }"></h5>
                                    <h4>{{ item.note }}</h4>
                                </div>
                                <div class="col col-50 align-right">
                                    <h3>{{ item.currency.symbol }} {{ item.amount }}</h3>
                                    <h5 ng-if="item.fee > 0">{{ item.currency.symbol }} {{ item.fee }} {{'FEE' | translate}}</h5>
                                    <h5>{{ item.created | date:'d MMM' }} | {{ item.status }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
</ion-content>



