<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!-- Temp disable -->
                <!--<button class="button button-icon icon ion-camera" menu-toggle="right" ng-click="scanQr()"></button>-->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="app-side-menu">
        <ion-content class="container-body">
            <div class="row app-side-menu-profile">
                <div class="col-20">
                    <div class="row">
                        <img class="circle-base profile-image" menu-close ng-src="{{ user.profile || 'img/profile_1.png' }}" ui-sref="app.profile_image"/>
                    </div>
                </div>
                <div class="col-80">
                    <div class="app-side-menu-details">
                        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                        <h4>{{ user.email }}</h4>
                    </div>
                </div>
            </div>
            <ion-list class="app-side-menu-list">
                <ion-item menu-close ui-sref="app.home">
                    {{'HOME' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.deposit">
                    {{'DEPOSIT' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.withdraw_to">
                    {{'WITHDRAW' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.receive">
                    {{'RECEIVE' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.accounts">
                    {{'ACCOUNTS' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.promotion_code">
                    {{'PROMOTIONS' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.settings">
                    {{'SETTINGS' | translate}}
                </ion-item>
                <ion-item menu-close ui-sref="app.about">
                    {{'ABOUT' | translate}}
                </ion-item>
                <ion-item class="item-complex" menu-close ng-click="logout()">
                    <a class="item-content" translate="LOGOUT"></a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>