<ion-view view-title="{{ viewTitle }}">

    <ion-content class="dashboard">
        <div class="row">
            <div class="col col-100 text-center">
                <br>
                <p>Your personal invitation code is</p>

                <h2>XYZT</h2>
            </div>
        </div>
    </ion-content>


    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <div class="row">
        <a class="col col-100 high-footer bar bar-footer bar-air" ui-sref="app.promotion_redeem">
            <h1 class="title">Redeem</h1>
        </a>
    </div>

</ion-view>