<ion-view view-title="{{'AMOUNT' | translate}}">
    <ion-content class="container-body">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label" translate="PROMOTION_CODE"></span>
                <input ng-model="data.promotion_code" type="text" placeholder="{{'PROMOTION_CODE_PLACEHOLDER' | translate}}">
            </label>
        </div>
    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.promotion_code)">
        <h1 class="title" translate="NEXT"></h1>
    </button>
</ion-view>