<ion-view view-title="{{'RECEIVE' | translate}}">
    <ion-content class="container-body" class="top padding">
        <div class="row text-center">
            <div class="col col-100">
                <div class="container-default" translate="RECEIVE_INSTRUCTIONS"></div>
                <div class="container-qr">
                    <img ng-src="{{ myAddress }}" alt="{{'RECEIVE' | translate}}" height="250" width="250">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>