<ion-view view-title="{{'PROMOTIONS' | translate}}">
    <ion-content class="container-body">
        <div class="container-default-background">
            <div class="row">
                <div class="col col-100">
                    <div class="row center">
                        <br>
                        <p translate="PROMOTIONS_INSTRUCTIONS"
                           translate-values="{ referral_code: 'XYZ' }"></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <div class="row">
        <div class="col col-100 high-footer bar bar-footer" ui-sref="app.promotion_redeem">
            <h1 class="title" translate="REDEEM"></h1>
        </div>
    </div>
</ion-view>