<ion--view view-title="{{'Currencies' | translate}}" ng-controller="CurrenciesCtrl">
    <ion-content class="container-body">
        <div class="container-deposit-reference text-center">
            <h4 class="capital-letter">{{ accountName }}</h4>
            <h5 class="capital-letter dark-blue">{{ reference }}</h5>
        </div>
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="block">
                <div ng-repeat="item in items">
                    <div class="item item-avatar item-icon-left no-padding">
                        <i class="icon ion-ios-circle-outline"></i>

                        <div class="row default-top">
                            <div class="col col-50 align-left">
                                <h2>{{ item.currency.code }}</h2>

                                <p>{{ item.currency.symbol }} {{ item.balance }}</p>
                            </div>

                            <div class="col align-right">
                                <button class="button" ng-if="!checkActive(item)" keyboard-attach
                                        ng-click="setActive(item.currency.code)"
                                        linked="clickMe"
                                        translate="ACTIVATE">
                                </button>
                                <button class="button button-balanced" ng-if="checkActive(item)" disabled translate="ACTIVE">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion--view>