<ion-view view-title="Accounts" ng-controller="CurrencyAccountsCtrl">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="block">
                <div ng-repeat="item in items">
                    <div class="item item-avatar item-icon-left no-padding">
                        <i class="icon ion-ios-circle-outline"></i>

                        <div class="row default-top">
                            <div class="col col-50 align-left">
                                <h2>{{ item.currency.code }}</h2>

                                <p>{{ item.currency.symbol }} {{ item.balance }}</p>
                            </div>

                            <div class="col align-right">
                                <button class="button" ng-if="item.status=='inactive'" keyboard-attach
                                        ng-click="setToken(item.account.reference, item.currency.code)"
                                        linked="clickMe">
                                    Activate
                                </button>
                                <button class="button button-balanced" ng-if="item.status=='active'" disabled>
                                    Active
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-view>