<ion-view view-title="Camera/Upload">

  <ion-content class="container-body">

    <div class="row">
      <div class="col col-100">

        <!-- Main upload button -->
        <button class="button button-block" ng-click="getFile()">
          Upload or take a photo
        </button>
        <!-- Hidden button for PC uploads -->
        <button id="upload" class="hide button button-block" ngf-select="upload($file)" ngf-max-size="10MB">
          Upload File
        </button>

        <!--Select and then upload version:-->
        <!--<form ng-controller="FicaCameraUploadCtrl" name="form">
            Single Image with validations
            <div class="button button-block" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="10">Select
            </div>
            <button class="button button-block" type="submit" ng-click="submit()">submit</button>
        </form>-->

      </div>
    </div>

  </ion-content>

  <!-- Footer bar hack to get layout right -->
  <ion-footer-bar class="high-footer bar-dark">
  </ion-footer-bar>

  <a class="high-footer bar bar-footer cancel" menu-close href="#/app/settings">
    <h1 class="title">Cancel</h1>
  </a>

</ion-view>
