<ion-view view-title="Camera/Upload">

    <ion-content class="container-body">

        <div class="row">
            <div class="col col-100">
                <button class="button button-block">
                    Take Picture
                </button>

                <button class="button button-block">
                    Upload Image
                </button>

                <form name="form">
                    Single Image with validations
                    <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                         ngf-resize="{width: 100, height: 100}">Select
                    </div>
                    <button type="submit" ng-click="submit()">submit</button>
                </form>

            </div>
        </div>


    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <a class="high-footer bar bar-footer cancel" menu-close href="#/app/settings">
        <h1 class="title">Cancel</h1>
    </a>

</ion-view>