<ion-view view-title="{{'UPLOAD' | translate}}">
    <div ng-controller="FicaImageCtrl">
        <ion-content class="container-body">
          <div class="row row-center">
            <div class="col col-center">
                <button class="button button-block" ng-click="getFile()" translate="UPLOAD_INSTRUCTIONS">
                </button>

                <!-- Hidden button for PC uploads-->
                <button id="upload" class="hide button button-block" accept=".jpg, .png" ngf-select="getFromFiles($file)"
                        ngf-max-size="10MB"
                        ngf-fix-orientation="true"
                        translate="UPLOAD">
                </button>
            </div>
          </div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="high-footer bar-dark">
        </ion-footer-bar>

        <a class="high-footer bar bar-footer cancel" menu-close href="#/app/settings">
            <h1 class="title" translate="CANCEL"></h1>
        </a>
    </div>
</ion-view>