<ion-view view-title="{{'PROOF_OF_ADDRESS' | translate}}">
    <ion-content class="container-body">
        <div class="container-default-background">
            <div class="row">
                <div class="col col-100">
                    <div class="row">
                        <h4 translate="INSTRUCTIONS"></h4>
                    </div>
                    <div class="row">
                        <p translate="PROOF_OF_ADDRESS_INSTRUCTIONS"></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.type)">
        <h1 class="title" translate="NEXT"></h1>
    </button>
</ion-view>