<ion--view view-title="ID document">

    <ion-content>

        <div class="row text-center">
            <div class="col col-100">
                <h4>Instructions</h4>
                <p>Instructions of why and how to upload a picture of ID document.</p>
            </div>
        </div>

    </ion-content>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="high-footer bar bar-footer" ng-click="submit(data.type)">
        <h1 class="title">Next</h1>
    </button>

</ion--view>