<ion--view view-title="Account Tokens" ng-controller="AccountTokensCtrl">
    <ion-content>
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-transactions" >
            <div class="block">
                <div ng-repeat="item in items">
                    <div class="item item-avatar item-icon-left">
                        <i class="icon ion-ios-circle-outline"></i>

                        <div class="align-left">
                            <h3>{{ item.currency.symbol }} {{ item.currency.code }} {{ item.account.name }}</h3>
                            <p>{{ item.currency.symbol }} {{ item.balance }}</p>
                        </div>

                        <div class="align-right">
                            <button class="button" keyboard-attach ng-click="setToken(item.account.reference, item.currency.code)" linked="clickMe">
                                Switch
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion--view>