<ion--view view-title="{{'ACCOUNTS' | translate}}" ng-controller="CurrencyAccountsCtrl">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="block">
                <div ng-repeat="item in items">
                    <a class="item item-icon-right" ng-click="accountSelected(item.reference)">
                        <h3>{{ item.name }}</h3>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion--view>